src/test/resources/traveler.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TravelerinformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="page"/>
        <xs:element type="xs:byte" name="per_page"/>
        <xs:element type="xs:short" name="totalrecord"/>
        <xs:element type="xs:short" name="total_pages"/>
        <xs:element name="travelers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Travelerinformation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="email"/>
                    <xs:element type="xs:string" name="adderes"/>
                    <xs:element type="xs:dateTime" name="createdat"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>